.content a {
	margin: .5rem .1rem;
	background-color: lightsteelblue;
	display: block;
	font-variant: small-caps;
	font-weight: bold;
	max-width: 40rem;
}
a {
	text-decoration: none;
	border-radius: 1rem;
	padding: .5rem 1rem;
}
.content p {
	margin: 0;
}

#footer a {
	margin: 0 1em;
	padding: .5em 1em;
	font-size: large;
}
