body {
	font-family: 'Comfortaa';
	background-color: #FFB080;
	letter-spacing: .02em;
}
a,
a:visited {
	color: #00A;
}
h1 {
	user-select: none;
	cursor: pointer;
}


html {
	display: table;
	height: 100%;
	width: 100%;
}
body {
	display: table-cell;
	vertical-align: middle;
	padding: 1em;
}
