#header {
	user-select: none;
	cursor: pointer;
}
#header h4 {
	letter-spacing: .04rem;
	height: 1.2rem;
}
#header h4 b {
	display: inline-block;
	width: 2rem;
}
#header h4 em {
	letter-spacing: .13rem;
	font-style: normal;
}
#votez--faites-voter {
	letter-spacing: .2rem;
}
img {
	max-width: 100%;
	display: block;
}
#contents > div	{
	margin-bottom: 7rem;
	padding: 1rem .5rem;
}
#contents > div:last-child {
	margin-bottom: 3rem;
}
#contents div > a:first-child img {
	border: 2px solid grey;
	border-radius: 1rem;
	margin: 0 -2px;
	margin-bottom: 1rem;
	cursor: pointer;
}
#contents div > a:first-child {
	display: inline-block;
}
#contents a {
	display: table-cell;
}
#contents a img	{
	border: 2px solid blue;
	border-radius: 150px;
}
#contents a img {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 10s ease-in-out infinite;
	background-size: 400% 400%;
}
#contents .button {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	color: blue;
	user-select: none;
	cursor: pointer;
}
.fwd-button {
	text-align: right;
}
.bak-button {
	text-align: left;
}
div .button {
	opacity: 0;
	pointer-events:	none;
}
div:last-child .button,
div:first-child .button {
	opacity: 20%;
	pointer-events:	auto;
}
.spip_code code {
	display: block;
	border: 1px dotted;
	padding: .5rem;
	text-align: center;
	background-color: darkgrey;
}
.texte {
	max-width: 40rem;
}
.left {
	text-align: left;
	max-width: 40rem;
}
.left h2 {
	text-align: center;
	font-variant: small-caps;
}

@keyframes gradient {
	0%	{ background-position: 0% 50%; }
	50%	{ background-position: 100% 50%; }
	100%	{ background-position: 0% 50%; }
}
#footer a {
	display: inline-block;
	text-decoration: none;
}
#footer img {
	width: 80px;
	margin: .5rem;
	border-radius: 1rem;
}
.footer a,
#footer a,
#footer a:visited {
	color: blue;
}
#footer.info-page a {
	background-color: darkgrey;
	border-radius: 1rem;
	padding: .5rem;
	border: 2px dotted green;
}
.info-page.footer a {
	width: 5rem;
	display: inline-block;
}
