img {
	max-width: 100%;
	display: block;
}
a {
	display: inline-block;
}
#contents > div	{
	margin-bottom: 7rem;
	padding: 1rem .5rem;
}
#contents > div:last-child {
	margin-bottom: 3rem;
}
#contents div > img {
	border: 2px solid grey;
	border-radius: 1rem;
	margin: 1rem -2px;
}
#contents a img	{
	border: 2px solid blue;
	border-radius: 150px;
}
#contents a img {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease-in-out infinite;
	background-size: 400% 400%;
}
@keyframes gradient {
	0%	{ background-position: 0% 50%; }
	50%	{ background-position: 100% 50%; }
	100%	{ background-position: 0% 50%; }
}
#footer img {
	width: 80px;
	margin: .5rem;
	border-radius: 1rem;
}
