#header {
	user-select: none;
	cursor: pointer;
}
#header h4 {
	letter-spacing: .04rem;
	height: 1.2rem;
}
#header h4 b {
	display: inline-block;
	width: 2rem;
}
#header h4 em {
	letter-spacing: .13rem;
	font-style: normal;
}
#votez--faites-voter {
	letter-spacing: .2rem;
}
img {
	max-width: 100%;
	display: block;
	font-size: xx-large;
	font-weight: bold;
}
#contents > div	{
	margin-bottom: 7rem;
	padding: 1rem .5rem;
}
#contents > div:last-child {
	margin-bottom: 3rem;
}
#contents div > a:first-child img {
	border: 2px solid grey;
	border-radius: 1rem;
	margin: 0 -2px;
	cursor: pointer;
}
#contents div > a:first-child {
	display: inline-block;
}
.buttons {
	margin-top: 1rem;
}
.button {
	display: table-cell;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	color: blue;
}
.button.score {
	min-width: 8rem;
	height: 8rem;
	border: 10px dotted aliceblue;
	border-radius: 5rem;
}
.button.score a {
	display: block;
	width: 100%;
	padding: 1em 0;
	font-size: xx-large;
	text-decoration: none;
}
.shifter.fwd {
	text-align: right;
}
.shifter.bak {
	text-align: left;
}
.shifter {
	opacity: 0;
	pointer-events:	none;
	width: 40%;
}
div:last-child div .shifter,
div:first-child div .shifter {
	opacity: 20%;
	pointer-events:	auto;
}
.spip_code code {
	display: block;
	border: 1px dotted;
	padding: .5rem;
	text-align: center;
	background-color: darkgrey;
}
.texte {
	max-width: 40rem;
}
.lien_lien {
	background-repeat: no-repeat;
	padding-left: 1.5rem;
	word-wrap: break-word;
	word-break: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}
.lien_lien_total {
	display: none;
}
.lien_raccourci::after {
	content: "\2026/";
}
.lien_off {
	display: none;
}
.spip_out::after {
	content: "=> ❀";
}
.spip_out {
	text-decoration: none;
}
.lien_court {
	display: none;
}
.left {
	text-align: left;
	max-width: 40rem;
	line-height: 1.4rem;
}
.left h2 {
	font-variant: small-caps;
}
.left h2, h3 {
	text-align: center;
}

@keyframes gradient {
	0%	{ background-position: 0% 50%; }
	50%	{ background-position: 100% 50%; }
	100%	{ background-position: 0% 50%; }
}
#footer a {
	display: inline-block;
	text-decoration: none;
}
#footer img {
	width: 60px;
	margin: .5rem;
	border-radius: .7rem;
}
.footer a,
#footer a,
#footer a:visited {
	color: blue;
}
#footer.info-page a {
	background-color: darkgrey;
	border-radius: 1rem;
	padding: .5rem;
	border: 2px dotted green;
}
.info-page.footer a {
	width: 5rem;
	display: inline-block;
}

h3#politipet {
	margin: -.8em 0 1.5em;
}
h3#politipet a {
	text-decoration: none;
}
