h1 {
	border-radius: 1rem;
	padding: .5rem 1rem;
	display: inline-block;
	background-color: lightgrey;
	font-size: large;
}
h3 {
	font-weight: normal;
	margin-top: 2rem;
}
p {
	background-color: #FFD5BB;
}

center {
	display: inline-block;
	/*animation: fadeout 7s cubic-bezier(.8,0,0,1.2);*/
	padding: 2em 6em;
	border-radius: 1em;
	background-color: #FFD5BB;
	margin-top: -6em;
	opacity: .9;
}
img {
	max-width: 100%;
}
html {
	background-image: url(/politipet.qr-code.green.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #FFB080;
	background-size: contain;
}
body {
	background-color: rgba(255,178,128, .5);
	text-align: center;
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
