.separator {
	width: 10rem;
	margin: 3rem 0 auto;
}
.composition {
	display: inline-block;
	text-align: left;
}
.composition {
	margin-left: 1.5rem;
}
h1 {
	margin-bottom: 2em;
}
h2 {
	font-size: large;
}
html {
	display: table;
	height: 100%;
	width: 100%;
}
body {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
