<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href='/site.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    {% assign fqdn = site.title | split: "." %}
    {% assign host = fqdn [0] %}
    <title> {{ host }}.fr </title>
  </head>

  <body>
  <center>
        {{ content }}
  </center>
  </body>

  <script>
	var h1 = document.querySelector("h1")
	if (h1) h1.onclick = function () { history.back() }
  </script>
</html>
