<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href='/site.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    {% assign fqdn = site.title | split: "." %}
    {% assign host = fqdn [0] %}
    {% assign page_id = page.name | remove: ".md" | remove: "i-" | remove: "index" %}
    {% assign i_id = page_id | prepend: "i-" %}
    {% for item in site.data.tdg %}
    {% if item.id == i_id %}
    {% assign title = item.text %}
    {% break %}
    {% endif %}
    {% endfor %}
    <title> {{ host }}.fr {{page_id}} {{title}}</title>
    <meta property="og:title" content="n°{{page_id}} : {{title}}"/>
    <meta property="og:description" content="initiative citoyenne à l'Assemblée nationale"/>
    <meta property="og:image" content="{{site.url}}/i-{{page_id}}.graph.png"/>
    <meta property="og:url" content="{{site.url}}/{{page_id}}"/>
  </head>

  <body>
  <center>
        {{ content }}
  </center>
  </body>

  <script>
	var h1 = document.querySelector("h1")
	if (h1) h1.onclick = function () { history.back() }
  </script>
</html>
