<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo-16x16.png">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link href='/site.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    {% assign fqdn = site.title | split: "." %}
    {% assign host = fqdn [0] %}
    {% assign page_id = page.url | remove: ".html" | remove: "index" | remove_first: "/" %}
    {% assign page_num = page_id | to_integer %}
    {% if page_num > 0 %}{% assign page_id = "i-" | append: page_id %}{%endif%}
    {% assign title = page_id | replace: "i-", "n°" | append: " : " %}
    {% assign title = title | append: site.data.title[page_id].title %}
    {% assign image = site.data.graph[page_id] %}
    {% unless image contains "://" %}
    {% assign image = site.url | append: "/" | append: image %}
    {% endunless %}
    <title> {{ host }}.fr {{title}}</title>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="initiative citoyenne à l'Assemblée nationale"/>
    <meta property="og:image" content="{{image}}"/>
    <meta property="og:url" content="{{site.url}}/{{page_id | remove: "i-"}}"/>

    <!-- analytics -->
    <script
	src="https://cdn.amplitude.com/libs/analytics-browser-2.11.1-min.js.gz"
	crossorigin="anonymous">
    </script>
    <script>window.amplitude
	.init('28c28d09d37d48a386bddd0cae40cfb6', {
		serverZone: "EU",
		defaultTracking: true,
	})
    </script>

    <script src="/site.js"></script>
  </head>

  <body>
  <center>
        {{ content }}
  </center>

  <script>set_default_header_onclick()</script>

  </body>
</html>
